
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<br /><br />
<div id="writerlist">
    buraya yazarlar getirilecek
</div>
@*<script src="~/Inspinia/js/jquery-3.1.1.min.js"></script>*@
@section scripts {
    <script>
        $('#btngetlist').click(function (){
            $.ajax({
                contentType:'application/json',
                dataType:'json',
                type:'Get',
                url:'/Admin/Writer/WriterList/',
                success:function(func){
                    let w = jQuery.parseJSON(func);
                    console.log(w); 
                    let tablehtml = "<table class='table table-hover'> <tr> <th>Yazar ID </th> <th> Yazar Adı </th> </tr>"
                    $.each(w,(index,value)=>{
                        tablehtml+=` <tr><td>${value.id}</td> <td>${value.name}</td></tr> ` @* `` = Alt Gr + ; *@
                    });
                    tablehtml+="</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });
    </script>
}
